<!-- <xe-queue-monitor-cards-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-queue-monitor-cards-panel>

<xe-queue-monitor-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-queue-monitor-panel>

<xe-queue-monitor-table-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-queue-monitor-table-panel>

<xe-team-monitor-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-team-monitor-panel>

<xe-team-monitor-table-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-team-monitor-table-panel>

<xe-dialer-monitor-table-panel *ngIf="connected" [serverConnection]="serverConnection">
</xe-dialer-monitor-table-panel> -->

<xe-json-editor [data]="initialData" [options]="editorOptions">

</xe-json-editor>

<div>{{ initialData | json }}</div>