name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12

      - run: |
          npm ci

          npm run prod team-monitor-panel
          npm run prod team-monitor-table-panel

          npm run prod queue-monitor-panel
          npm run prod queue-monitor-cards-panel
          npm run prod queue-monitor-table-panel

          npm run prod dialer-monitor-table-panel

          npm run prod test
